.home__container{
    background: url(../../../public/images/home-background.png) center center / cover no-repeat fixed;
    content:"";
    top:72px;
    min-height: calc(100vh - 250px);
    overflow-x: hidden;
    display: block;
    top: 72px;
    padding: 0 calc(3.5vw + 5px);
    position: relative;
}
